*{
    padding: 0;
    margin: 0;
}
.section-one{
    display: flex;
    position: absolute;
    background-color: white;
    width: 100vw;
    height: 100vh;
}
.background{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.nav-bar{
    display: flex;
    position: sticky;
    width: 100vw;
    height: 40px;
    background-color: transparent;
    flex-direction: row;
}
.nav-bar .center-nav{
    display: flex;
    width: 70vw;
    height: 100%;
}
.nav-bar .center-nav ul{
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
.nav-bar .center-nav ul li{
    display: flex;
    height: 100%;
    align-items: center;
}
.nav-bar .center-nav ul li a{
    display: flex;
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    bottom: 0;
}
.nav-bar .center-nav ul li a:hover{
    display: flex;
    color: rgb(205, 221, 235);
    text-decoration: none;
    letter-spacing: 1px;
    cursor: pointer;
}
.nav-bar .left-nav{
    height: 100%;
    display: flex;
    width: 40px;
}
.nav-bar .right-nav{
    display: flex;
    width: 40px;
    height: 100%;
    right: 0;
    position: absolute;
}
.nav-bar .left-nav button{
    cursor: pointer;
    display: flex;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
}

.nav-bar .left-nav button div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}
.nav-bar .left-nav button div span{
    display: flex;
    width: 100%;
    height: 2px;
    background-color: black;
}
.nav-bar .left-nav button:hover div span{
    background-color: rgb(205, 221, 235);
}
.hero .menu{
    display: flex;
    width: 0;
    background-color: darkgrey;
    height: 90vh;
    transition: width 1s ease;
    z-index: 99;
    /*background-image: url(Images/Coffee.png);*/
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}
.prompt-message {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 30vw;
    height: calc(30vw);
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #cccccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-direction: column;
}
.prompt-message .top-div{
    display: flex;
    width: 100%;
    height: 80%;
}
.prompt-message .bottom-div{
    display: flex;
    width: 100%;
    height: 20%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.prompt-message .bottom-div button{
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
}